*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color: white;
    
}
.header{
    text-decoration: none;
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
font-size: 18px;
color: white;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3s;
opacity: 0;
animation: sideTop 1s ease forwards;
animation-delay: calc(.2s *var(--i));

}
.navbar a:hover,
.navbar a.active{
    color: rgb(red, green, blue);
     
}
.home{
    position: relative;
    width: 100px;
    height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 300px;
}
.home-content h1{

   font-size: 20px;
   font-weight: 300;
   margin: -3px 0;
   opacity:0;
   animation: slideRight 1s ease forwards;
   animation-delay:.1s;

}
.home-content h3{
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;

}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
  }

.home-content h3 span{
  color: rgb(red, green, blue);
}
.home-content p{
    font-weight: 200;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-img img{
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards;

}
.social-media a{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 3px solid rgb(red, green, blue);
    border-radius: 50%;
    font-size: 30px;
    color: rgb(red, green, blue);
    text-decoration: none;
    box-shadow: 0 0 20px rgb(red, green, blue);
    margin: 30px 14px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    size: 200px;

}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(red, green, blue);
    border-radius: 40px;
    box-shadow: 0 0 10px  aqua;
    text-decoration: none;
    color:black;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 0;
    animation:slideTop 1s ease forwards;
    animation-delay: 1s;


}
@keyframes slideLeft{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform:translatex(0);
        opacity:1;

    }
}
@keyframes slideRight{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform:translatex(0);
        opacity:1;

    }
}
@keyframes sideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity:1;

    }
}
@keyframes sideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity:1;

    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(01);
        opacity:1;

    }
}
